.container {
    display: flex;
    margin: 2rem auto;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.25rem;
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.profile h1 {
    font-family: "Poppins", sans-serif;
}

.profile h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(50,50,50)
}

.label {
    font-family: "Roboto", sans-serif;
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.fieldNames {
  background-color: black;
}

.fieldNames th {
  padding: 0.75rem 1rem;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: white;
}

.fieldNames th:first-child {
  border-top-left-radius: 0.5rem;
}
.fieldNames th:last-child {
  border-top-right-radius: 0.5rem;
}

.text {
  font-weight: 300;
  min-width: 20rem;
  max-height: 3rem;
  display: block;
  overflow: auto;
}

.dateandtime {
  font-weight: 300;
  white-space: nowrap;
}

.text::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.text::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.text::-webkit-scrollbar-thumb
{
	background-color: rgb(160, 160, 160);
}

table tr:nth-child(even){background-color: #f2f2f2;}

.filename {
  white-space: nowrap;
}

.savedText td {
  padding: 0.75rem 2rem;
  font-family: "Roboto", sans-serif;
  padding-top: 12px;
  padding-left: 5px;
  padding-bottom: 12px;
}

.title {
  display: flex;
  gap: 1rem;
}

.download-history {
  padding: 0.25rem 1rem;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #1DBE53;
  border-radius: 0.25rem;
}

.download-history:hover {
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 0.25rem;
}

.dateFilter {
  padding: 0.5rem;
  background-color: rgb(230, 230, 230);
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.dateFilter:focus {
  outline: none;
}

.imageNameFilter {
  padding: 0.5rem;
  background-color: rgb(230, 230, 230);
  margin-left: 2rem;
  border-radius: 0.25rem;
}

.filterButton {
  padding: 0.5rem 1rem;
  background-color: #1DBE53;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 0.25rem; 
}

.filterButton:hover {
  cursor: pointer;
}

.resetFilters {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  background-color: #bf0000;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 0.25rem; 
}

.imageNameFilter:focus {
  outline: none;
}

@media (max-width: 800px) {
  .container {
      margin: 0rem;
      padding: 0.25rem;
      width: 95%;
      overflow: hidden;
  }

  .savedTexts {
    width: 100%;
    overflow-x: auto;
  }

  .filename {
    width: 5rem;
    white-space: normal;
  }

  .filters {
    flex-direction: column;
    gap: 1rem;
  }

  .imageNameFilter {
    margin-left: 0;
  }
}