.container {
    display: flex;
    margin: 2rem auto;
    width: 75%;
    padding: 1rem 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.25rem;
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.profile h1 {
    font-family: "Poppins", sans-serif;
}

.profile h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(50,50,50)
}

.label {
    font-family: "Roboto", sans-serif;
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

table {
  border-collapse: collapse;
  padding: 0.25rem;
}

.fieldNames {
  background-color: #1DBE53;
}

.fieldNames th {
  padding: 0.75rem 1rem;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: white;
}

.fieldNames th:first-child {
  border-top-left-radius: 0.5rem;
}
.fieldNames th:last-child {
  border-top-right-radius: 0.5rem;
}

.text {
  font-weight: 300;
  min-width: 20rem;
  height: 3rem;
  display: block;
  overflow: auto;
}

.text::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.text::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.text::-webkit-scrollbar-thumb
{
	background-color: rgb(80,80,80);
}

table tr:nth-child(even){background-color: #f2f2f2;}

.savedText td {
  font-family: "Roboto", sans-serif;
  padding-top: 12px;
  padding-left: 5px;
  padding-bottom: 12px;
}

@media (max-width: 800px) {
  .container {
      margin: 0rem;
      padding: 0;
      box-shadow: none;
      width: 100%;
      overflow: hidden;
  }

  .savedTexts {
    width: 100%;
    overflow-x: auto;
  }
}