{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login - AltText</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <form id="loginForm" method="post">
        <h1>Sign in</h1>
        {% csrf_token %}
        <label class="formLabel">Username</label>
        <input id="username" name="username" class="formInput" type="text" required>
        <label class="formLabel">Password</label>
        <div id="passwordInputContainer">
            <input id="password" name="password" class="formInput" type="password" required>
            <button onclick="showHidePassword()" type="button"><img id="passwordShowHideIcon" src="/static/images/view.png" alt="show"></button>
        </div>
        <button type="submit" id="loginButton">Log in</button>
        <a href="/signup">Have not already created an account?</a>
    </form>
    <script src="{% static 'js/passwordShowHide.js' %}"></script>
</body>
</html>