{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile - {{ user.username }}</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <div class="container">
        <div class="profile">
            <h1>{{ user.username }}</h1>
            <h2>{{ user.email }}</h2>
        </div>
        <h1 class="label">Saved AltTexts</h1>
        <div class="savedTexts">
            <table>
                <tr class="fieldNames">
                    <th>Image Name</th>
                    <th>AltText</th>
                </tr>
                {% for filename, text in saved_texts %}
                <tr class="savedText">
                    <td class="filename">{{filename}}</th>
                    <td class="text">{{text}}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>