{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile - {{ user.username }}</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="profile">
            <h1>{{ user.username }}</h1>
            <h2>{{ user.email }}</h2>
        </div>
        <h1 class="label">Saved Texts</h1>
        <div class="savedTexts">
            {% for filename, text in saved_texts %}
            <div class="savedText" id="{{ filename }}">
                <button style="display: flex; justify-content: space-between;" onclick="expand('{{ filename }}')">{{ filename }}<img style="width: 1rem; height: 1rem;" src="{% static 'images/expand.png' %}" alt="show-text"></button>
                <p id="expand" class="hidden scale-in-ver-top">{{text}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/expandText.js' %}"></script>
</body>
</html>